.circle_image {
  border-radius: 50%;
}

blockquote {
  padding: 0 0 0 3em;
  margin: 0;
  border-left: none;
  position: relative;
  font-size: 17.5px;
}

blockquote::before {
  content: "\201C";
  color: #e9e9e9;
  position: absolute;
  left: -12px;
  top: -50px;
  font-size: 128px;
}

blockquote p {
  font-size: 18px;
  font-weight: 400;
  color: #4c4c4c;
  margin: 0 0 10px;
  text-align: left;
}

blockquote cite {
  font-size: 17.5px;
  font-weight: 400;
  color: #aeafaf;
  font-style: normal;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
}

@media only screen and (min-width: 768px) {
  blockquote::before {
    left: -18px;
    top: -45px;
    font-size: 115px;
  }
}

@media (min-width: 1200px) {
  blockquote {
    padding: 0 0 0 3em;
    font-size: 17.5px;
  }

  blockquote::before {
    left: -5px;
    top: -50px;
    font-size: 128px;
  }
}
